/**
 * css icon
 * 2017/02/21
 */
@mixin arrowMake($w,$h,$marginBottom,$border,$rotateDeg){
	margin-bottom: $marginBottom;
    display: inline-block;
    width: $w;
    height: $h;
    border-left: $border;
    border-bottom: $border;
    transform: rotate($rotateDeg);
}

.down-arrow{
    @include arrowMake(10px,10px,3px,1px solid #fff,-45deg);
}
.up-arrow{
    @include arrowMake(10px,10px,3px,1px solid #fff,135deg);
}