@import '../../common/varible';

#header{
    display: -webkit-flex;
    display: flex;
    height: 75px;
    background-color: $cBColor;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    color: #f5f5f5;
    .h-l-title{
        color: $gTColor;
    }

    .h-r-usr{
        font-size: 18px;
        font-weight: normal;
        margin-left: 25px;
        margin-right: 25px;
        .usrname{
            margin-right: 15px;
        }
    }
    ul{
        li{
            border-bottom: 5px solid transparent;
            display: inline-block;
            margin-left: 0.1rem;
            margin-right: 0.1rem;
            
            a{
                font-size: 18px;
                font-weight: normal;
                padding: 22px 0;
                color:#f5f5f5;
                &:hover{
                    color: $gTColor;
                    border-bottom: 5px solid $gTColor;
                    // box-shadow: 0 5px 0 0 $gTColor;
                }
            }
            .active{
                color: $gTColor;
                border-bottom: 5px solid $gTColor;
            }
        }
    }
}

